<!-- banner -->
<div class="banner">
  <div class="wrapper">
    <div class="banner-container m-auto">
      <h1 class="text-light banner-title">
        Test assignment for Frontend Developer position
      </h1>
      <div class="banner-text">
        <p class="text-light" fxShow="true" fxHide.lg="true">We kindly remind you that your test assignment should
          be submitted as a link to github/bitbucket repository.
          <span class="text-light" fxShow="true" fxHide.lt-md="true">Please be patient, we
            consider and respond to every application
            that meets minimum requirements. We look forward to your
            submission. Good luck!</span>
        </p>
        <p class="text-light" fxShow.lg="true" fxHide="true">We kindly remind you that your test assignment should<br>
          be submitted as a link to github/bitbucket repository.<br>
          Please be patient, we
          consider and respond to every application<br>
          that meets minimum requirements. We look forward to your<br>
          submission. Good luck!
        </p>
      </div>
      <a href="#signUp" class="primary-button banner-button">
        <p class="primary-button-text button-text-center">Sign Up</p>
      </a>
    </div>
  </div>
</div>

<!-- about me -->
<div class="about-box wrapper container">
  <div id="about-me" class="acquainted-box">
    <h2>Let's get acquainted</h2>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="start  center" class="acquainted-content">
      <div fxFlex="40" fxFlex.lg="360px">
        <div class="acquainted-img m-auto"></div>
      </div>
      <div class="acquainted-text">
        <h3 class="acquainted-title">I am cool frontend developer</h3>
        <p class="text-fadedHighlight">When real users have a slow experience on mobile, they're much less likely to
          find what they are looking for
          or
          purchase from you in the future. For many sites this equates to a huge missed opportunity, especially when
          more
          than half of visits are abandoned if a mobile page takes over 3 seconds to load.
        </p>
        <p class="text-fadedHighlight">
          Last week, Google Search and Ads teams announced two new speed initiatives to help improve user-experience on
          the web.
        </p>
        <a href="#signUp" class="text-link link-sign-up">
          Sign Up
        </a>
      </div>
    </div>
  </div>
  <div class="relationships-box" id="relationships">
    <h2 class="relationships-main-title m-auto">About my relationships with web-development</h2>
    <div class="relationships-content" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="space-between start"
      fxLayoutAlign="center center">
      <!-- 1 -->
      <div class="relationships-card" fxLayout.gt-md="column" fxLayout.sm="row" fxLayout="column">
        <div class="relationships-img relationships-img-1"></div>
        <div class="relationships-text">
          <h3 class="relationships-title">I'm in love with HTML</h3>
          <p class="text-fadedHighlight relationships-description-1">Hypertext Markup Language (HTML) is the standard
            markup language for creating
            web pages and web
            applications.</p>
        </div>
      </div>
      <!-- 2 -->
      <div class="relationships-card" fxLayout.gt-md="column" fxLayout.sm="row" fxLayout="column">
        <div class="relationships-img relationships-img-2"></div>
        <div class="relationships-text">
          <h3 class="relationships-title">CSS is my best friend</h3>
          <p class="text-fadedHighlight relationships-description-2" fxShow="true" fxHide.md="true">Cascading Style
            Sheets (CSS) is a style sheet
            language used for describing the
            presentation
            of a document written in a markup language
            like HTML.</p>
          <p class="text-fadedHighlight relationships-description-2" fxShow.md="true" fxHide="true">
            Cascading Style Sheets (CSS)<br>
            is a style sheet language used for<br>
            describing the presentation of a<br>
            document written in a markup<br>
            language like HTML.</p>
        </div>
      </div>
      <!-- 3 -->
      <div class="relationships-card" fxLayout.gt-md="column" fxLayout.sm="row" fxLayout="column">
        <div class="relationships-img relationships-img-3"></div>
        <div class="relationships-text">
          <h3 class="relationships-title">JavaScript is my passion</h3>
          <p class="text-fadedHighlight relationships-description-3" fxShow.gt-sm="true" fxHide="true">JavaScript is a
            high-level, interpreted programming
            language. It is a language
            which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.</p>
          <p class="text-fadedHighlight relationships-description-3" fxShow="true" fxHide.gt-sm="true">JavaScript is a
            high-level, interpreted programming
            language.<br> It is a language
            which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- requirements -->
<div id="requirements" class="requirements-box">
  <div class="requirements-bg">
    <div class="requirements-container wrapper container">
      <h2 class="requirements-title text-light m-auto">General requirements for the test task</h2>
      <div fxLayout.gt-xs="row" fxLayout="column-reverse" fxLayoutAlign="space-between start" fxLayoutAlign.lg="space-between start"
        fxLayoutAlign.gt-sm="space-between center" class="requirements-content">
        <div class="requirements-text" fxFlex="50">
          <p class="text-light">Users want to find answers to their questions quickly and data shows that people
            really
            care about how
            quickly their pages load. The Search team announced speed would be a ranking signal for desktop searches
            in
            2010 and as of this month (July 2018), page speed will be a ranking factor for mobile searches too.
          </p>
          <p class="text-light"> If you're a developer working on a site, now is a good time to evaluate your
            performance using our speed
            tools. Think about how performance affects the user experience of your pages and consider measuring a
            variety
            of real-world user-centric performance metrics.
          </p>
          <p class="text-light"> Are you shipping too much JavaScript? Too many images? Images and JavaScript are the
            most significant
            contributors to the page weight that affect page load time based on data from HTTP Archive and the Chrome
            User
            Experience Report - our public dataset for key UX metrics as experienced by Chrome users under real-world
            conditions.
          </p>
        </div>
        <div class="requirements-img"></div>
      </div>
    </div>
  </div>
</div>
<!-- users -->
<app-spinner></app-spinner>
<div id="users" class="users-box wrapper container" *ngIf="!isSpinner">
  <h2 class="users-title">Our cheerful users</h2>
  <p class="p-18 user-text m-auto">Attention! Sorting users by registration date</p>
  <div class="users-container" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between start" fxLayout="column"
    fxLayoutAlign="center center">
    <div class="user" *ngFor="let user of users" fxFlex="33.3">
      <app-user-item [user]="user"></app-user-item>
    </div>
  </div>
  <button class="secondary-button banner-button" (click)="showMore()" [disabled]="lastPage">Show more
  </button>
</div>
<!-- signUp -->
<div id="signUp" class="sign-up-box wrapper container">
  <h2 class="sign-up-title">Register to get a work</h2>
  <h5 fxShow="true" fxHide.gt-xs="true" class="sign-up-text m-auto">Attention! After successful registration and<br>
    alert, update the list of users<br> in
    the block from the top
  </h5>
  <h5 fxShow.gt-xs="true" fxHide="true" class="sign-up-text m-auto">Attention! After successful registration and alert,
    update the list of users in
    the block from the top
  </h5>
  <div class="form-container">
    <app-form-registration></app-form-registration>
  </div>
</div>
