@import "../../../theme/styles/style.scss";

.snack-box {
  width: 290px;
  height: 100%;
  border: 4px;

  .snack-text {
    .snack-title {
      margin-bottom: 10px;
    }

    text-align: center;
  }
}
